.product-name {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  
}


.product-name:hover {
  color: orange;
  font-weight: bold;
  
}

.link{
  text-decoration: none;
  color: black;
}

.product-cart { 
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(245, 245, 245);

    width: 100%;
    height: 100%;
  }

  .btn-agregar {
    padding: .3em;
    width: 50%;
    margin: auto;
    border: 1px solid orange;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-agregar:hover  {
    background-color: orange;
    color: white;
  }
  
  .product-price {
   font-weight: bolder;
  }

 

  .product-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: orange;
    box-shadow: 2px 2px 4px orange;
  }
  