.product-cart { 
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 25px;
    width: 70%;
    height: 100%;
  }

  .btn-agregar {
    padding: .3em;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-agregar:hover  {
    background-color: orange;
    color: white;
  }
  
  .product-price {
   font-weight: bolder;
  }

  .product-name {
    font-size: 1.5rem;
    color: black;
  }

  .product-name:hover {
    color: rgba(255, 0, 255, 0.771);
    font-weight: bold;
  }

  .product-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 1px rgba(255, 0, 255, 0.271);
    box-shadow: 2px 2px 4px rgba(255, 0, 255, 0.271);
  }
  