*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-color: rgb(196, 194, 194);
  min-width: 320px;
  min-height: 100vh;
}  

/* Config TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

