.titulo-home{
    text-align: center;
    margin: 20px;
}

.parrafo-home{
    text-align: center;
    margin: 20px;
}

.title {
 text-align: center;
}

.link {
 color: black;
 text-decoration: none;
 list-style: none;
}


.list {
 text-decoration: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: 15px;
}


.envioGratis {
 color: green;
}


.button {
 color: white !important;
 border-color: #ef9b00;
 border-radius: 10px;
 background-color: #a3a3a3;
 text-align: center;
 padding: 10px;
 padding-bottom: 10px !important;

}


.grid-container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 10px;
 padding: 10px;

}

.ul{
 padding: 0px;
 margin: 0px;
}