/* ItemDetail.module.css */

.itemDetailContainer {
 border: 1px solid #ccc;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
 background: #fff;
 display: flex;
  flex-direction: column;
}

.title {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.price {
 font-size: 18px;
 color: #ff5733;
 margin-bottom: 8px;
}

.category {
 font-size: 16px;
 color: #888;
 margin-bottom: 8px;
}

.description {
 font-size: 14px;
}

.info_container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.boton{
  background-color: #323030;
  color: #fffefe;
  border: 2px solid #333333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 }
 
 .boton:hover {
  background-color: #ff8800;
  color: #ffffff;
  border-color: #ff8800;
 }

 .contenedor-boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .boton_volver {
  background-color: #323030;
  color: #fffefe;
  border: 2px solid #333333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
 }
 
 .boton_volver:hover {
  background-color: #ff8800;
  color: #ffffff;
  border-color: #ff8800;
 }