.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.ul {
    margin: 0%;
    padding: 0%;
}

.h1-cart {
    text-align: center;

    text-align: center;
}

.img-cart {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 10px;

    border-radius: 10px;
    border: solid 1px orange;

}

.li-cart {
    display: flex;
    border: solid 1px orange;
    margin: auto;
    margin-top: 20px;
}

.name-cart {
    display: flex;
    text-align: center;
    justify-content: center;
    ;
    font-size: 1.5rem;
}

.cart-p {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.price-cart {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.cant-cart {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.delete-icon {
    margin: auto;
    cursor: pointer;

}

.delete-icon:hover {
    color: orange;
}




.empty-cart-p {
    text-align: center;
    padding: .5em;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 1.6rem;
    color: black;
    border: solid 1px orange;

    background-color: rgba(239, 238, 238, 0.498);
}

.empty-cart-btn {
    display: flex;
    padding: .3em;
    font-size: 1.3rem;
    margin: auto;
    margin-top: 50px;
    color: black;
    border: solid 1px orange;
    background-color: rgba(239, 238, 238, 0.498);
    border-radius: 10px;
    text-decoration: none;
}

.empty-cart-btn:hover {
    background-color: orange;
    color: white;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;


}

.vaciar-cart {
    font-size: 1.3rem;
    color: black;
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;
    background-color: rgba(239, 238, 238, 0.498);
    border-radius: 10px;
}

.comprar-cart {
    font-size: 1.3rem;
    color: black;
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;
    background-color: rgba(239, 238, 238, 0.498);
    border-radius: 10px;

}

.ver-mas-cart {
    padding: .3em;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;
    background-color: rgba(239, 238, 238, 0.498);
    border-radius: 10px;
    margin-left: 50px;
}

.vaciar-cart:hover {
    background-color: orange;
    color: white;
}

.comprar-cart:hover {
    background-color: orange;
    color: white;
}

.ver-mas-cart:hover {
    background-color: orange;
    color: white;
}

.cart-total {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}