.itemListContainer{
    background-color: #282c34;
    color: white;
    font-size: calc(3px + 2vmin);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;

}



