
.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;
    background-color: rgba(251, 250, 249, 0.498);
    border-radius: 10px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
 
    color: black;
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;

    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: orange;
    color: white;
  }

  .boton-volver-form {
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }

  .boton-volver-form:hover {
    background-color: orange;
    color: white;
  }

  .boton-volver {
    display: block;
    padding: .3em;
    font-size: 1rem;
    color: black;
    border: solid 1px orange;
    box-shadow: 2px 2px 4px orange;

    border-radius: 10px;
    margin-left: 250px;
    cursor: pointer;
}

.boton-volver:hover {
    color: white;
    background-color: orange;
}

.img-checkout {
  object-fit: cover;
  width: 60px;
  height: 60px;
  margin-top: 3px;
}

.li-checkout {
  display: flex;
  border: solid 1px orange;
  box-shadow: 2px 2px 4px orange;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.name-checkout {
  display: flex;
  text-align: center;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 5px;
}

.price-checkout {
  display: flex;
  text-align: center;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 1.2rem;
}

.cant-checkout {
  display: flex;
  text-align: center;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 1.2rem;
}

.checkout-total{
  text-align: center;
  font-size: 1.5rem;
  padding: .5em;
}

.p-compra-exitosa {
  font-size: 1.3rem;
  margin: 5px;
}

.p-compra-detalle {
  margin-top: 50px;
  font-size: 1.2rem;

}