/* NavBar.module.css */

.navbar {
  background-color: #333;
  display: flex;
}

.container_logo {
  display: flex;
  text-decoration: none;
}


.ul_navList {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-right: 20px;
  align-items: center;
  margin-left: auto; /* Esto empujará los elementos a la derecha */
}


.navItem a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: auto;
}

.navItem a:hover {
  color: #ffa500;
}


.img {
  width: 60px;
  height: 60px;
}

.titulo{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  transition: color 0.3s ease;
  margin-left: 10px; /* Agrega un margen entre el logo y el título */
}

.titulo:hover {
  color: #ffa500;
}


.cartLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}
