/* NavBar.module.css */

.navbar {
 background-color: #333;
 display: flex;
 width: 100%;


}

.navList {
 list-style: none;
 display: flex;
 gap: 20px;
 margin-left: 60%; /* Alinea los elementos a la derecha */
 margin-top: 20px;
 padding: auto;
}

.navItem a {
 text-decoration: none;
 color: white;
 font-weight: bold;
 transition: color 0.3s ease;
 padding: auto;
}

.navItem a:hover {
 color: #ffa500;
}

.cartLink {
 text-decoration: none;
 color: white;
 font-weight: bold;
 display: flex;
 align-items: center;
}

.containerLogo{
  margin: 0%;

  
}

.titulo{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;

  
}

.logo {
  width: 60px;
  height: 60px;

 }

 .link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    
    margin-right: 10px;
    gap: 10px;
 }